.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-card{
  border:2px solid black;
  align-items:center;
  width:100%
}

.follower{
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin:5%;
}

.follower-cont{
  border: 2px solid red;
  margin:5%;
  width:20%
}